# This file may be used to create an environment & download required libraries using:
# $ conda create --name <env> --file <this file>
# platform: Windows 11

pandas
matplotlib
plotly
scikit-learn
yaml
pathlib
mlflow
streamlit
